*{
    margin: 0;
    padding: 0;
    outline: 0; 
    font-family: 'Source Sans Pro', sans-serif;
}
img{
    width: 100%;
    object-fit: contain;
}
main{
    width: 100%;
    height: 100%;
}
.menu{
    justify-content: space-evenly;
    margin: auto;
    padding-right: 30px;
    margin-bottom: 20px ;
    margin-top: 20px;
    
}
.bar{
    padding: 10px 30px;
    margin: 30px 0;
    /* color: tomato; */
    color: black;
}
.home{
    display: flex;
    margin: auto;
    width: 100%;
    justify-content:space-between;
    height: 100vh;
    /* padding-top: 20px; */
}
.home-menu{
    border-bottom: solid rgb(230, 155, 141) 3px ;
    
}

.myprofile-pics{
    object-fit: contain;
}
.my-info{
    width: 80%;
}
.Profile-pics{
    object-fit: cover;
    border-radius: 50%;
    height: 300px;
    width: 80%;
    object-fit: cover
}
.about{
    width: 100%;
    font-size: 1.1em;
}
.details{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-around;
}
.experience button{
    justify-content: space-evenly;
    background-color: white;
    color: black;
    padding: 5px 16px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.btn-exp .cv{
    margin-bottom: 10px;
}
.cv a{
    color: rgb(26, 24, 24);
    background-color: whitesmoke;
    padding: 5px 10px;
    border-radius: 4px;
    
}
.contact{
    margin: auto;
    width: 100%;
    padding-top:80px;
    color: black;
    font-size: 1.1em;
}
.contact a{
    color: black;
}
#contact{
 transition: all 3s ease-in-out;
}

.my-name h1{
    font-size: 35px;
    color: rgb(20, 13, 13);
    width: 80%;
    letter-spacing: 2px;
    word-spacing: 3px;
    font-weight: bold;
    text-shadow: 1px 3px 3px  rgb(77, 72, 72);
    font-family: 'Roboto', sans-serif;
}
.my-name span{
    color: tomato;
}
.profession h4{
    color: rgb(20, 13, 13);
    font-weight: bolder;
    letter-spacing: 1px;
    word-spacing: 5px;
    font-size: 1.5em;
    margin-bottom: 10px;
    padding: 5px;
    color:black;
    opacity: 0.7;
    text-shadow: 5px 5px 5px  rgb(77, 72, 72);
}
.profile-info{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;  
    margin-right: 0px;
    align-items: center;
     
}

.Profile-pics{
    animation-name: folio;
    animation-duration: 6s;
    animation-delay: 4s;
    animation-iteration-count: infinite;
}


@keyframes folio{
    0%{transform: translateY(0px);box-shadow: 0px 0px black;}
    50%{transform: translatey(-20px);box-shadow:10px 10px 15px black;}
    100%{transform: translatey(0px);box-shadow: 0px 0px black;}
}
.projects{
    
    background-image: url(../images/wixtable2.webp);
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    background-attachment: fixed;
    height: 100vh;

}

.web-icon{
    position: fixed;
    padding-top: 0 0px;
    margin-top: 150px;
}
.icon-design{
    display: flex;flex-direction: column;
    justify-content: space-evenly;
}
.icon-design .fa{
    font-size: 30px;
    color: black;
    padding-bottom: 20px;
    margin-left: 20px;

}
.icon-design .fa :hover{
    color: blue;
    transform: scale(0.9);
}
.head-text{
    padding-top: 40px;
    padding-bottom: 20px;
}
.head-text h2,h5{
    text-align: center;
    padding-bottom: 10px;
    /* color: #333; */
    color: white;
    font-weight: bolder;
    font-size: 25px;
    color: black;
}
.head-text h5{
    font-size: 20px;
    color: whitesmoke;
}
.wrapper{
    width: 70%;
    margin: auto;
}
#mySlides{
    width: 100%;
}
.copyright{
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    color:white;
    padding-top: 20px;
}
@media screen and (max-width: 700px) {
    .home{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 240vh;  
    }

    .menu{
        width: 80%;
        display: flex;
        justify-content: space-evenly;
        margin: auto;
        padding-right: 10px;
        margin-bottom: 5px ;
        margin-top: 5px;
    }
    .Profile-pics{
        margin: auto;
        object-fit: cover;
        margin-top: 20px;
        width: 90%;
        margin-left: 30px
    }
    .details{
        display: flex;
        width: 80%;
        flex-direction: column;
        margin: auto;
        justify-content: space-around;
    }
    .my-info{
        width: 70%;
        padding: 0px;
        margin-left: 50px;;
        text-align: center;
    }
    .projects{
        height: 55vh;;
    }

}


@media screen and 
  (min-width:700px) and
  (max-width:1000px){
    .home{
        width: 100%;
        display: flex;
        width: 100%;
        height: 100vh;
    }
    .myprofile-pics{
        flex: 50%;
    }
    .my-info{
        flex: 50%;
        padding-bottom: 0;
    }

}
